<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Save Trainer</title>
</head>

<body>

	<div class="container">
	
		<h3>Trainer Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Trainer</p>
	
		<form action="#" th:action="@{/trainer/save}"
						 enctype="multipart/form-data"
						 th:object="${trainer}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Trainer First And Last Name">

			<input type="text" th:field="*{trainings}"
					class="form-control mb-4 col-4" placeholder="What Trainings Teach?">

			<p>Add Image To Slider</p>
			
			<input type="file" name="file" />
			
			<br><br>
					
			<input id="check" type="checkbox" placeholder="See Trainer On Index Page" th:field="*{atIndexPage}" />
			<label for="check">See Trainer On Index Page</label>
			
			<br>
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/trainer/list}">Back to Trainer List</a>
		
	</div>
</body>

</html>










